body {
    background-color: lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  height: 5vh;
  background-color: rgb(165, 203, 235);;
}

nav {
  display: inline-flexbox;
}

.links {
    list-style-type: none;
    display: flex;
    width: 200px;
    justify-content: space-around;
}

main {
    display: flex; 
} 

.sidebar {
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-bottom: -3.3%; */
    width: 5.5%;
}

#item-1 {
/* margin-block: 150px; */
}

#item-2 {
/* margin-block: 200px; */
}

#item-3{
/* margin-block: 100px; */
}

.main-content {
display: flex;
flex-direction: column;
/* justify-content: space-between;  */
}

.about-me {
margin-top: -1%;
padding: 1%;
text-align: center;
/* background-color: cornflowerblue; */
}

.work-projects {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* order: 3; */
    /* flex-wrap: wrap; */
}

.contact {
    /* display: flex;
    justify-content: space-between; */
    /* background-color: aqua; */
}

.reach-out {
    display: flex;
    justify-content: space-evenly; 
}

footer {
    text-align: center;
    background-color: rgb(165, 203, 235);
    padding-top: 1%;
}

/* @media (max-width: 980px ) {
    body
} */

/* Tablets - header changes color */
@media screen and (max-width: 992px) {
    .sidebar {
      background: rgb(204, 255, 229);
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    .sidebar {
      background-color: rgb(255, 204, 204);
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .sidebar {
      background-color: black;
    }
  }