body {
    background-color: lightgrey;
}

.links{
    /* removed  ul bullets, spaced out the 3 links and alinged to left of page in header */
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: -3%;
    justify-content: space-around;
    
}
/*  */
aside{
    background-color: steelblue;
    max-width: 10%;
}

.aside-sections{
    list-style-type: none;
    text-align: left;
}

#item-1{
margin-block: 150px;
}

#item-2{
margin-block: 200px;
}

#item-3{
margin-block: 200px;
}