body {
    background-color: lightgrey;
}

.links {
    /* removed  ul bullets, spaced out the 3 links and alinged to left of page in header */
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    /* justify-content: space-around; */
}

main {
    display: flex;
    display: 4;
}

.about-me {
    flex: 1;
    order: 2;
    margin-top: 8%;
/* display: flex; */
/* margin: 20%; */
}

.sidebar {
    background-color: steelblue;
    /* max-width: 10%; */
    order: 1;
}

.sidebar-sections {
    list-style-type: none;
    /* text-align: left; */
    /* flex-direction: column; */
}

#item-1 {
margin-block: 150px;
}

#item-2 {
margin-block: 200px;
}

#item-3{
margin-block: 200px;
}

.work-projects {
    display: flex;
    order: 3;
    /* flex-wrap: wrap; */
}

footer {
    text-align: center;
}