body {
    background-color: lightgrey;
}

header {
  display: flex;  
  justify-content: space-between;
  align-items: center;
  background-color: darkgray;
  padding: 1%;
  height: 5vh;
}

  nav {
  display: inline-flexbox;
  }

.links {
    /* removed  ul bullets, spaced out the 3 links and alinged to left of page in header */
    list-style-type: none;
    display: flex;
    width: 200px;
    /* justify-content: flex-end; */
    /* margin: 0 auto; */
    justify-content: space-around;
}

main {
    display: flex;
    display: 4;
    height: 90vh;
}

.about-me {
    flex: 1;
    /* order: 2; */
    margin-top: 2%;
/* display: flex; */
/* margin: 20%; */
background-color: cornflowerblue;
}

.sidebar {
    background-color: steelblue;
    margin-bottom: -3.3%;
    /* max-width: 10%; */
    /* order: 1; */
}

.sidebar-sections {
    list-style-type: none;
    /* text-align: left; */
    /* flex-direction: column; */
}

#item-1 {
margin-block: 150px;
}

#item-2 {
margin-block: 200px;
}

#item-3{
margin-block: 200px;
}

.work-projects {
    background-color: pink;
    display: flex;
    /* order: 3; */
    /* flex-wrap: wrap; */
}

.contact {
    /* display: flex; */
    background-color: aqua;
}

footer {
    text-align: center;
    background-color: darkgray;
    padding-top: 1%;
}